<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>{{ title }} - a Microblog</title>
        {% else %}
        <title>Welcome to the Microblog</title>
        {% endif %}
    </head>
    <body>
        <hr>
        {% if memer %}
        <h1>Some more memes for {{memer.nickname}}!</h1>
        {% endif %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
