{% extends "base.html" %}
<!-- Input(s): "login form" -->
{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Username/Email: {{ form.username(size=60) }}<br>
            Password: {{ form.password(size=60) }}<br>
            {% for error in form.username.errors %}
                {# TODO: Use CSS styling for errors #}
                <span style="colors: red;">
                    [{{ error }}]
                </span>
            {% endfor %}<br>
            Possibly insert oauth interface here
        </p>
        <p>{{ form.remember_me }} Remember me</p>
        <p><input type="submit" value="Sign In"></p>
    </form>
{% endblock %}
